@model BlogViewModel

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">@Model.BlogPost.Title</h1>


        <!-- Date/Time -->
        <p>@Model.BlogPost.Date.ToLongDateString()</p>

        <hr>

        <p>@Model.BlogPost.Text</p>
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form method="post" action="/home/addcomment">
                    <input type="hidden" value="@Model.BlogPost.Id" name="blogPostId" />
                    <div class="form-group">
                        <input id="name" type="text" placeholder="Please enter your name" class="form-control" name="name" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Type your comment here but remember to be be nice..." id="comment" name="commentText" class="form-control" rows="3"></textarea>
                    </div>
                    <button id="submit" disabled class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        @foreach (Comment comment in Model.comments)
        {
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">
                        @comment.Name
                        <small>@comment.Date</small>
                    </h5>
                    @comment.CommentText
                </div>
            </div>
        }


    </div>

</div>


@section scripts{
    <script src="~/js/comment.js"></script>

}

